@page
@model NewsPortal.Pages.allNewsModel
@{
}



<p>
    <button class="btn btn-outline-warning">
    <a asp-page="News">Add New News </a>
        </button>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Head Line ")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            
            <th>
                @Html.DisplayName("City")
            </th>
            <th>
                @Html.DisplayName("Date ")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NDate)
                </td>
                <td>
                    <button class="btn btn-warning">
                        <a asp-page="./EditNews" asp-route-id="@item.NewsID">Edit</a> |
                    </button>

                    <button class="btn btn-warning">
                        <a asp-page="./allNews" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.NewsID">Delete</a>
                </button>
                        </td>
            </tr>

        }
    </tbody>
</table> 